@charset "UTF-8";
/* CSS Document */

.iconTitle {
  font-family: 'prompt', sans-serif;
  font-size: 60px;
  color: #1e2c5d;
  font-weight: 700;
  letter-spacing: 1px;
}

.iconText {
  font-family: 'prompt', sans-serif;
  width: 1200px;
  margin: 0 auto;
  padding-top: 16px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #333333;
}

.pointTitle {
  color: #EF4123;
}


.someWhatTitle {
  font-family: 'prompt', sans-serif;
  font-size: 50px;
  padding-bottom: 16px;
  color: #525252;
  text-align: left;
  font-weight: 700;
  line-height: 50px;


}

.article24px {
  font-size: 18px !important;
  padding-bottom: 40px;
}


.articleBox {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #fff;
  text-align: center;
  color: #ababab;
  overflow: auto;

}

.someWhatContainer {
  height: 700px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.someWhatBox {
  padding: 140px 100px 0 100px;
}






.articleTitle {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'prompt', sans-serif;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #1E2C5D;
  text-align: center;
  padding-bottom: 40px;

}


.somesingApp {

  font-size: 18px;
  text-align: left;
  color: #525252;
  font-weight: 600;
  font-family: 'prompt', sans-serif;
}

.somesingAppText {
  padding-top: 18px;
  text-align: left;
  font-size: 16px;
  font-family: 'prompt', sans-serif;
  padding-bottom: 12px;
  color: #525252;
  line-height: 30px;
}

.ecoSystem {
  font-family: 'prompt', sans-serif;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1e2c5d;
  text-align: left;
}



.ecoSystemText {

  text-align: left;
  font-size: 18px;
  font-family: 'prompt', sans-serif;
  padding: 12px 0 12px 0;
  color: #525252;

}

.ecoSystemBox {
  text-align: center;
  width: 90vh;
  margin: 0 auto;
}

.ecoSystemText2 {
  padding-top: 12px;
  text-align: left;
  font-size: 20px;
  font-family: 'prompt', sans-serif;
  padding-bottom: 12px;
  color: #525252;
  line-height: 30px;
}

p.ecoSystemImgText {
  font-family: 'prompt', sans-serif;
  font-size: 18px;
  color: #525252;
  padding-top: 16px;
}

.col-md-6.someWhatImgBox {
  padding: 0;
}

.mockupBox {
  height: 700px;
  overflow: hidden;
}

.mockup1 {
  height: 100%;

}


.articleContent {
  font-size: 20px;
  font-weight: 300;
  font-family: 'prompt', sans-serif;
  letter-spacing: 0.4px;
  color: #525252;
}

.articleImage {
  width: 670px;
  resize: auto;
}

.articleVerticalImage {
  width: 670px;
  resize: auto;
  margin: 30px auto 0 auto;
}

.articleWideImage {
  width: 800px;
  resize: auto;
  margin: 30px auto 0 auto;
}

.articleWideFullSizeImage {
  width: 900px;
  resize: auto;
  margin: 30px auto 0 auto;
}

/*.articleMockupBox {
  overflow: auto;
}*/

.fullArticle {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



.articleDetailBox {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  background-position-y: -120px;
}







a.someButton:nth-child(1),
a.someButton:nth-child(2) {
  margin-right: 30px;
}



.articleContainer {
  width: 1200px;
  margin: 0 auto 0 auto;

}

/* ---------------------------- 서비스플로우 ---------------------------- */

.serviceFlowContainer {
  height: 1400px;
  background-image: url(../../img/index/intro/bg_flow.jpg);
  background-size: cover;
}

.serviceFlowBox {
  width: 1200px;
  margin: 0 auto 0 auto;
  overflow: auto;
  padding: 150px 0;
}

.serviceFlowTitle {
  color: #fff;
  font-family: 'prompt', sans-serif;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: left;
}

.someUser {
  font-size: 18px;
  text-align: left;
  color: #fff;
  font-weight: 400;
  font-family: 'prompt', sans-serif;
  padding: 12px 0;
  letter-spacing: 0.5px;
}

.userFlow {
  width: 100%;
}

.userFlowBox {
  padding: 60px 0 0 0;
  /*border: 1px solid #fc5127;*/
}


/* ---------------------------- 서비스플로우 끝 ---------------------------- */

/* ---------------------------- 증간 화이트페이퍼 다운 ---------------------------- */

.whitepaperTitle {
  color: #fff;
  font-family: 'prompt', sans-serif;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
}

.whitePaperContents {
  max-width: 1200px;
  margin: 0 auto;
}

.articleBox.whitPaperBox {
  color: #fff;
  background-color: #1E2C5D;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  margin: 150px 0;

}

span.whitePaperDownText {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.col-md-8.whitepaperTitle {
  padding-left: 0;
}



a.whitePaperDownButton {
  background: url(../../img/index/article2/ico_white_down.png) no-repeat 50% 50%;
  background-size: 14px;

  background-color: #EF4123;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'prompt', sans-serif;
  letter-spacing: 1px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
  float: right;
}

.col-md-4.whitePaperSelectBox {
  padding-top: 27px;
}




/*the container must be positioned relative:*/

.custom-select {
  position: relative;

  display: inline-block;
  float: right;
  font-family: 'prompt', sans-serif;
  margin-right: 4px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
  text-align: left;
}

/*style the arrow inside the select element:*/

.select-selected:after {
  position: absolute;
  content: "";
  top: 21px;
  right: 14px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #1E2C5D transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #1E2C5D transparent;
  top: 15px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
  color: #1E2C5D;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/*style items (options):*/

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
}

.same-as-selected {
  color: #fff !important;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(239, 65, 35, 1);
  color: #fff;
}



/* ---------------------------- 증간 화이트페이퍼 끝---------------------------- */

/* ---------------------------- 코인얼로케이션 ---------------------------- */

.articleAllocate {
  font-size: 18px;
}

span.someDot:nth-child(1) {
  margin-left: 0;
  background-color: #4da7d8;
}

span.someDot:nth-child(2) {
  background-color: #4cb8a9;
}

span.someDot:nth-child(3) {
  background-color: #f6b733;
}

span.someDot:nth-child(4) {
  background-color: #ef4123;
}



span.someDot {
  display: inline-block;
  width: 24px;
  height: 23px;
  background-color: #ededed;
  border-radius: 12px;
  margin: 0 8px 0 30px;
  -ms-transform: translate(0, 5px);
  /* IE 9 */
  -webkit-transform: translate(0, 5px);
  /* Safari */
  transform: translate(0, 5px);
  /* Standard syntax */
}











/* ---------------------------- 코인얼로케이션 끝---------------------------- */

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.articleDetailContainer.slideInUp {
  animation-name: slideInUp;
}



.articleDetailTitle {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: 'prompt', sans-serif;
}

.articleDetailContent {
  margin-top: 15px;
  font-family: 'prompt', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: left;
  color: #fff;
  width: 580px;
  margin-bottom: 40px;
}



.ecoSystemPng {
  width: 100%;

}


.roadmapTitle {
  color: #fff;
}

.col-md-12.userFlowBox {
  padding: 0 50px;
}
