@charset "UTF-8";
/* CSS Document */

.rowMenu {
  display: none;
}

ul.list-inline {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #fc5127;
}



.naviBar {
  height: 80px;
  line-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-decoration: none;
  font-family: 'prompt', sans-serif;
  background-color: #ef4123;
  top: 0;
  letter-spacing: 0.5px;
}

.someLogo {
  height: 40px;
}

.naviBar.blur {
  background-color: #EF4123;
}

.naviContainer {
  position: relative;
  overflow: auto;
  width: 100%;

}

.naviLinkContainer {
  margin: 0 112.5px;
}

.naviLinkBox {
  float: left;
}

.naviLinkBox2 {
  float: right;
  width: 24vw;

  position: relative;
  margin-right: 120px;
}

.naviContainerWhite {
  position: fixed;
  height: 0;
  right: 0;

  border-bottom: 80px solid #fff;
  border-left: 80px solid transparent;
}

select {
  width: 30px;
  background-color: transparent;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #333333 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 0.3px !important;
  background: url('../../img/index/intro/select.png') no-repeat 95% 49%;
  background-size: 8px;
}



select::-ms-expand {
  display: none;
}



.naviLogo {
  top: 0px;
  left: 0px;
  width: 92px;
  height: 100%;
  color: #fff;
  float: left;
}

.naviBtn {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #fff !important;
}

.naviBtn2 {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #333333 !important;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d1d1d1;
  opacity: 1;
  /* Firefox */
}

.naviLink {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.naviLink > li {
  display: inline;
}

.naviBtn:hover {
  text-decoration: underline;
  font-weight: 400;
  color: #fff;
}



@media(max-width: 992px) {
  .naviBar {
    height: 100px;
  }

  .naviContainer {
    width: 768px;
  }

  .naviEmailContainer {
    width: 400px;
    left: 368px;

  }

  .naviLinkContainer {
    top: 40px;
    left: auto;
    right: 0px;
    width: 100%;
  }

  .naviLink {
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 768px) {
  .naviContainer {
    width: 576px;
  }
  .naviEmailContainer {
    width: 250px;
    left: 326px;
  }
  ul.naviLink {
    padding: 0;
  }
  .naviLogo {
    font-size: 20px;
  }
  .rowMenu {
    display: block;
  }
  .naviLinkContainer {
    display: none;
  }
  .naviBar {
    height: 40px;
    line-height: 40px;
  }
  .naviBtn {
    font-size: 14px;
    margin: 0 2px 0 2px;
  }
}

@media (max-width: 576px) {
  .naviContainer {
    width: 360px;
    text-align: center;
  }

  .naviLogo {

    margin: 0 auto 0 auto;
  }


  .naviLink {
    text-align: center;
  }

  .naviLink > li {
    text-align: center;
  }


}
