@charset "UTF-8";
/* CSS Document */

.counterBox {
  position: relative;
  width: 1200px;
  margin: 0 auto 0 auto;
  padding: 4vh 0 0 0;
  font-family: 'prompt', sans-serif;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}



#timer {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 300;
  float: right;
}

#timer span {
  font-size: 40px;
  color: #fff;
  margin: 0 3px 0 15px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 1px;
}

#timer span:first-child {
  margin-left: 0;
}

.timeBox {
  text-align: center;
  display: inline-block;
}

.timeBoxMargin {
  margin-left: 24px;
}

.counterBorder {
  vertical-align: top;
  display: inline-block;
  margin-top: 2px;
  margin-left: 24px;
  font-size: 42px;
  color: #fff;
  line-height: 30px;
}


.preSaleStart {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 6px;
}

.preSaleStartText {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#progressBar {
  margin: auto;

  border: none;
  width: 100%;
  padding: 2px;

  text-align: center;
  height: 44px;
  line-height: 42px;
  letter-spacing: 0.5px;

}

#progressText {

  display: block;
  width: 100%;
  font-size: 14px;
  font-family: 'prompt', sans-serif;
  font-weight: 700;
  background: rgba( 239, 65, 35, 1);
  -webkit-background-clip: text;
  color: transparent;
}

.col-md-6.preSaleStartCon {
  padding: 0;
}

.col-md-6.timerCol {
  padding: 0;
}

.col-md-9.barBox {
  padding: 0;
}

.col-md-12.barCon {
  padding: 16px 0 0 0;
}

.col-md-3.introBuyButton {
  padding: 0 0 0 30px;
}

img.buyArrow {
  height: 12px;
  float: right;
  margin: 4px 0 0 0;
}

.introButton {
  background-color: #fff;
  border: none;
  color: #333333;
  width: 100%;
  padding: 12px 14px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'prompt', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  z-index: 3;

}


.someButtonInCounter {
  margin-top: 80px;
  width: 140px;
  padding: 13px 0;
}

.someCap {
  display: inline-block;
  color: #fff;
  margin-top: 6px;
  text-align: center;
  letter-spacing: 0.5px;
}

span.someCap.hardCap {
  float: right;
}
