@charset "UTF-8";
/* CSS Document */

.counterBox {
  position: relative;
  width: 1200px;
  margin: 0 auto 0 auto;
  padding: 3vh 0 0 0;

  font-family: 'prompt', sans-serif;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.timerContainer {
  width: 84%;
  float: right;
}

#timer {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 300;
}

#timer span {
  font-size: 40px;
  color: #fff;
  margin: 0 3px 0 15px;
  font-weight: bold;
}

#timer span:first-child {
  margin-left: 0;
}

.timeBox {
  text-align: center;
  float: right;
}

.timeBoxMargin {
  margin-left: 24px;
}

.counterBorder {
  float: right;
  margin-left: 24px;
  font-size: 42px;
  color: #fff;
}


.preSaleStart {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 10px;

}

.preSaleStartText {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#progressBar {
  margin: auto;

  border: none;
  width: 100%;
  padding: 2px;

  text-align: center;
  height: 52px;
  line-height: 48px;
  letter-spacing: 0.5px;

}

#progressText {

  display: block;
  width: 100%;
  font-size: 14px;
  font-family: 'prompt', sans-serif;
  font-weight: 700;
  background: rgba( 239, 65, 35, 0.8);
  -webkit-background-clip: text;
  color: transparent;
}

.col-md-6.preSaleStartCon {
  padding: 0;
}

.col-md-6.timerCol {
  padding: 0;
}

.col-md-9.barBox {
  padding: 0;
}

.col-md-12.barCon {
  padding: 30px 0 0 0;
}

.col-md-3.introBuyButton {
  padding: 0 0 0 30px;
}

img.buyArrow {
  height: 12px;
  float: right;
  margin: 4px 0 0 0;
}

.introButton {
  background-color: #fff;
  border: none;
  color: #333333;
  width: 100%;
  padding: 16px 12px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'prompt', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 3;

}


.someButtonInCounter {
  margin-top: 80px;
  width: 140px;
  padding: 13px 0;
}


@media (max-width: 768px) {


  @media (max-width: 576px) {
